* {
    box-sizing: border-box;
}

.dial {
    width: 7.75in;
    height: 7.75in;
    border: 1px solid #222;
    border-radius: 100%;
    position: relative;
}

.dial:after {
    content: '';
    display: block;
    width: .25in;
    height: .25in;
    border: 1px dashed black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.dial .tick {
    position: absolute;
    left: 0%;
    top: 50%;
    transform-origin: 3.875in 0%;
    padding-left: 2rem;
    font-size: 2rem;
}

.dial label {
    /* border: 1px solid red; */
    display: block;
    position: absolute;
    width: 1in;
    height: 50%;
    top: 0in;
    left: 50%;
    transform: translateX(50%);
    transform-origin: 0% 3.875in;
}

.dial label span {
    display: block;
    position: absolute;
    width: 7rem;
    height: 7rem;
    line-height: 7rem;
    text-align: center;
    top: .4in;
    letter-spacing: -.05em;
    left: 50%;
    /* border: 1px solid blue; */
    font-size: 7rem;
    transform-origin: 0% 50%;
    font-family: 'Work Sans', sans-serif;
}

.dial .tick:after {
    content: '';
    display: block;
    width: 15px;
    height: 5px;
    background: black;
    position: absolute;
    left: 15px;
    transform: translateY(-50%);
}

.dial .tick.minor:after {
    width: 5px;
    height: 2px;
}